// ACCOUNT Nav
.account-icon { margin: 0 1.5rem 0 0; float: right;
    &:link, &:visited { color: $darkgrey; }
    &:hover { color: $lightgrey!important; }
    span[data-icon] { font-size: .8125em; position: relative; top: .25em; }
}
.logout-button { @include sans; font-size: .625em; float: right; margin: .25em 2em 0 0;
  @include breakpoint-max($moblet) { display: none; }
  &:link, &:visited { color: $darkgrey; }
  &:hover { color: $lightgrey; }
}
@include breakpoint-max($tablet) {
  .chat-icon { display: none; }
}
.account-dropdown { float: left; display: block; 
  li { margin-left: .75em; display: block; float: right;
    &+li:after { content: "|"; margin-left: .75em; }
    &:first-child { margin-right: 1.5em; }
    a:link, a:visited { color: $darkgrey; }
    a:hover { color: $lightgrey; }
  }
}
 
.account-actions-mobile { margin-top: 1.5em; width: 100%; text-align: center;
  @include breakpoint($tablet-mid) { display: none; }
  a { @include sans; font-size: .625em;
    &+a:before { content: "|"; margin: 0 .75em; }
    &:link, &:visited { color: $darkgrey; }
  }
}
