// HEADER
header[role="banner"], footer[role="content-info"] { position: relative; 
  hgroup { text-align: center; width: 37.5%; margin: .75em 0;
    @include breakpoint($mobile) {
      width: 25%; margin-left: 6.25%; margin-right: 6.25%;
    }
    @include breakpoint($moblet) {
      width: 18.75%; margin: .75em 9.375%;
    }
    @include breakpoint($tablet-mid) {
      width: 12.5%; margin: .75em 12.5%;
    }
    h1 { margin: 0;
      @include breakpoint($moblet) { margin-bottom: 0; }
      a { @include hide-text; color: transparent!important; background-image: url(../rapha.png); display: block; width: 100%; height: 1px; padding-bottom: 45%; background-size: 100%; background-repeat: no-repeat;
        @include old-ie { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../rapha.png',sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../rapha.png',sizingMethod='scale')";
}
        &:link, &:visited { color: $white; border: none; }
      }
    }
  }
  .partition:first-of-type { padding-bottom: 0; }
}
.header-left, .header-right { width: 31.25%; float: left; margin-top: 1rem; }

// Slimmed down checkout styles
.template_checkout { 
  .header-right, .header-left { display: none; }
  header[role="banner"] { margin-top: .75em; margin-bottom: .75em;
    hgroup { text-align: center; margin-left: 37.5%; margin-right: 37.5%;
      @include breakpoint($moblet) {
        margin-left: 40.625%; margin-right: 40.625%; float: right;
      }
      @include breakpoint($tablet) {
        width: 12.5%; margin: 0 43.75% 0 43.75%;
      }
    }
  }
  .checkout_footer { margin-bottom: 6em; text-align: center; color: $darkgrey;
    img { margin-top: .75em; }
    h2 { font-size: 1em; color: $darkgrey; letter-spacing: .125em; margin: 0; -webkit-font-smoothing: antialiased; }
    li { display: block; @include sans; font-size: .625em; }
    li a { font-size: 1em; }
  }
  .secondary-nav { padding: 0; }
}
.basket.entypo { font-size: 2em; position: relative; top: 3px; margin-right: .25em; -webkit-font-smoothing: antialiased;
  &.has_items { @include animation(breathe 2.4s infinite ease);
    &:hover { @include animation-play-state(paused); color: $white; }
  }
}

@include keyframes(breathe) {
  0% {
    color: $grey;
    text-shadow: 0 0 0 $pitchblack;
  }
  50% {
    color: #F6F6F7;
    text-shadow: 0 0 1px $darkgrey;
  }
  100% {
    color: $grey;
  }
}
