// SEARCH
.search_switch { -webkit-font-smoothing: antialiased; float: left; margin: .25rem 0 0 .75rem; font-size: 1.5rem;
  &.icon:hover { color: $lightgrey; }
  &.active { color: $white; }
  @include breakpoint($tablet-mid) { display: none; }
}
.desktop-search {
  @include breakpoint-max($tablet-mid) { display: none; }
  .search-box { padding: 0;
    &.minimized {
      .top_search_box { display: none; }
      .top_search_submit { background-color: $black; color: $darkgrey; border-color: $black; width: 2em; }
    }
  }
}
.search-box { float: left; width: 100%;
  .top_search_box, .top_search_submit { @include appearance(none); float: left; @include transition (all .2s linear); }
  .top_search_box { width: 80%; background-color: $lightgrey; font-size: .75em; @include nicer-sans; padding: 0 1em; color: $darkgrey; @include placeholder { color: $darkgrey; }; border: 1px solid $lightgrey; box-sizing: border-box; height: 2rem; display: inline-block; border-radius: 0; border-bottom-left-radius: .25em; border-top-left-radius: .25em;
    &:focus { outline: none; background-color: $offwhite; border-color: $offwhite; }
    @include old-ie { height: 20px; }
  }
  .top_search_submit { display: inline-block; color: $white; background-color: $pink; font-weight: normal; line-height: 1; padding: 0 .5em; height: 2rem; border: 1px solid $pink; -webkit-font-smoothing: antialiased; box-sizing: border-box; border-radius: .25em; border-bottom-left-radius: 0; border-top-left-radius: 0; @include appearance(none); width: 20%;
    span { font-size: 1.5em; position: relative; top: 1px; }
    &:focus { outline: none; }
    &:hover { color: $white; }
   }
}
.search_types { float: left; width: 100%; display: none; margin-bottom: -.75em;
  label { font-size: .625em; color: $darkgrey; @include sans; }
  input { -webkit-appearance: none; position: relative; top: 1px; width: .625em; height: .625em; border-radius: .625em; background-color: $grey; border: 2px solid $grey; margin-left: .75em;
    &:checked { background-color: $pink; }
    &:first-child { margin-left: 0; }
  }
}
